
/android/app/debug
/android/app/profile
/android/app/release
# Android Studio will place build artifacts here
app.*.map.json
app.*.symbols
.atom/
.build/
/build/
.buildlog/
*.class
/coverage/
.dart_tool/
dist/
**/doc/api/
.DS_Store
# Flutter/Dart/Pub related
.flutter-plugins-dependencies
.history
.idea/
*.iml
# IntelliJ related
**/ios/Flutter/.last_build_id
*.ipr
# is commented out by default.
*.iws
*.log
migrate_working_dir/
# Miscellaneous
# Obfuscation related
.pub/
.pub-cache/
*.pyc
.svn/
.swiftpm/
*.swp
# Symbolication related
# The .vscode folder contains launch configuration and tasks you configure in
#.vscode/
# VS Code which you may wish to be included in version control, so this line
.widget_preview/
# Widget Preview related
